$TextColor: #000;
$HColor: #f00;
$BColor: #000;
$Border: $BColor 2.5px solid;
$Background: #fed8b1;
$White: #fff;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: $TextColor;
    background-color: $Background;
    background-image: url("../images/pokeball.png");
    background-repeat: repeat;
}

H1,
H2,
H3 {
    color: $HColor;
    text-transform: uppercase;
}

#header {
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;

    div#info {
        border: $Border;
        border-radius: 5px;
        background-color: $White;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            text-align: center;
            margin: auto 10px;
        }
    }

    div#img {
        width: 250px;
        height: 250px;
        padding: auto;
        margin: 0 auto;
        margin-top: 10px;
        border: $Border;
        border-radius: 50%;
        background-color: $White;
        img{
            width: 200px;
            margin: 25px;
            position: relative;
        }
    }
}

#section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    #info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: $Border;
        background-color: $White;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        padding: 5px;

        p {
            height: fit-content;
            margin: auto 0;
        }

        #types {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 165px;
            h2,
            h3 {
                display: none;
            }
            div {
                border: $Border;
                width: 75px;
                height: fit-content;
                border-radius: 0.75rem;
                p {
                    font-size: 20px;
                    text-align: center;
                    color: #000;
                }
            }
        }
    }

    #stats {
        text-align: center;
        H2 {
            font-size: 50px;
            border: $Border;
            border-radius: 5px;
            background-color: $White;
            width: 75%;
            margin: 10px auto;
            padding: 5px;
        }
        div#div {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 auto;
            flex-wrap: wrap;
            div#row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 75%;
                div {
                    width: 200px;
                    border: $Border;
                    border-radius: 5px;
                    background-color: $White;
                    padding: 5px;
                    margin: 5px;
                    H3 {
                        text-decoration: underline;
                        font-size: 30px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #abilites {
        border: $Border;
        border-radius: 5px;
        background-color: $White;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        padding: 0 10px;
        font-size: 1.5em;

        p{
            margin: auto 0;
        }
    }
}

div#arrow{
    a{
        width: 55px;
        padding: auto;
        height: 55px;
        border: $Border;
        border-radius: 5px;
        background-color: $White;
        display: inline-block;
        img{
            width: 50px;
        }
    }
}

.normal {
    background-color: #808080;
}
.fire {
    background-color: #ffa500;
}
.grass {
    background-color: #567d46;
}
.water {
    background-color: #006994;
}
.electric {
    background-color: #effd5f;
}
.ice {
    background-color: #d6ecef;
}
.fighting {
    background-color: #c2261f;
}
.poison {
    background-color: #842bd7;
}
.ground {
    background-color: #d2b48c;
}
.flying {
    background-color: #d0b4dc;
}
.psychic {
    background-color: #f85888;
}
.bug {
    background-color: #a8b820;
}
.rock {
    background-color: #b8a038;
}
.ghost {
    background-color: #705898;
}
.dark {
    background-color: #705848;
}
.dragon {
    background-color: #7038f8;
}
